
/****************************************
  ==== RESETS
****************************************/

html, body, div, canvas {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: #333;
    text-shadow: none;
}

::selection {
    color: #333;
    text-shadow: none;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    display: inline-table;
    clear: both;
}
/* Hides from IE-mac \*/ * html .clear {
    height: 1%;
}

.clear {
    display: block;
}
/* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body {
    width: 60%;
    height: 60%;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

div.logo {
    width: 204px;
    height: 38px;
    float: left;
    background: url(logo.png) 0 0 no-repeat;
    position: relative;
    z-index: 10;
}

div.title {
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    margin: 0 1px 0 0;
    float: right;
    color: #333;
    text-align: right;
    font-size: 18px;
    position: relative;
    z-index: 10;
}

.template-wrap {
    width: 100%;
    height: calc(100% - 2em);

    position: relative;
    top: 62px;
    left: 0;

    margin: 0;
}

    .template-wrap canvas {
	top: 50%;
	left: 50%;
	transform: translate(-50%, 1%);

        position: relative;
        box-shadow: 0 20px 50px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 20px 50px rgba(0,0,0,0.4);
    }

.fullscreen {
    float: right;
    position: relative;
    z-index: 10;
}

div#loadingBox {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div#bgBar {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    top: 60%;
    height: 10px;
    display: block;
    background-color: #333;
}

div#progressBar {
    left: 50%;
    position: absolute;
    margin-left: -150px;
    top: 60%;
    width: 0px;
    height: 8px;
    background-color: white;
    border-radius: 6px;
}

div#bgBar {
    border-radius: 6px;
}

p#loadingInfo {
    color: #666;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    top: 50%;
    font-family: "Monaco", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-top: 14px;
}
